$o2oHeader : #333545;
$white : #fff;
$black : #000;
$black_222 : #222;
$black_333 : #333;
$txtGr : #888;
$txtLink : #457cdb;
$footer : #f5f5f5;
$modulePopup : rgba(0, 0, 0, .16);
$linkThumbnail : #ddd;
$linkthumbnailPoint : #ff5a5a;

$moduleHeaderDesc : #d3d3d3;

$tabs_1 : #f0f0f0;
