.wrap {
    margin: 0 auto;
    width: 1024px;
}

.example-area {
    width: 640px;
}

.guide__title {
    font-size: 24px;
    font-weight: 700;
}

/* 전면 스와이프 스타일 - 시작 */
.bannerDiscount {
    padding: 20px;

    .swiper-container {
        position: relative;
        border-radius: 12px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
}
.swiper {
    &:hover {
        // .swiper-prev,
        // .swiper-next {
        //     display: block;
        // }

        .swiper-prev:not(.swiper-button-disabled),
        .swiper-next:not(.swiper-button-disabled){
            display: block;
        }
    }

    .imgBox {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .imgBox img {
        width: 100%;
        height: auto;
    }

    .atom-icon {
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        white-space: nowrap;
        vertical-align: top;
    }

    .atom-icon.ic_angle_flicking_right_s35 {
        width: 35px;
        height: 35px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/ic/ic_angle_flicking_right_s35.svg) no-repeat 50%;
        background-size: contain;
    }
    .atom-icon.ic_angle_flicking_left_s35 {
        width: 35px;
        height: 35px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/ic/ic_angle_flicking_left_s35.svg) no-repeat 50%;
        background-size: contain;
    }
}
.swiper-prev,
.swiper-next {
    cursor: pointer;
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.swiper-button-disabled {
        display: none;
    }

    &:after {
        display: none;
    }
}
.swiper-next {
    right: 0;
}
.swiper-pagination-horizontal.swiper-pagination {
    top: inherit;
    bottom: 25px;
    background-color: #fff;
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 1px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color : #222;
}
/* 전면 스와이프 스타일 - 끝 */

/* 룰 스타일 스타일 - 시작 */
h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    font-weight: 400;
    
}

//table
table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #333;
}
caption {
    height: 1px;
    overflow: hidden;
}

table th, table td {
    height: 40px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}
table th {
    padding: 3px 15px;
    text-align: center;
    font-weight: 400;
    word-break: keep-all;
    border-bottom: 1px solid #666;
    background-color: #f8f8f8;
}
table td {
    padding: 3px 15px;
    border: 1px solid #eee;
    border-bottom: 0;

    &:first-child {
    }
}
/* 룰 스타일 스타일 - 끝 */