.wrap {
    margin: 0 auto;
    width: 1024px;
}

.example-area {
    width: 640px;
}

.guide__title {
    font-size: 24px;
    font-weight: 700;
}
.description {
    padding: 20px;
}

/* 전면 스와이프 스타일 - 시작 */
.bannerDiscount {
    padding: 20px;

    .swiper-container {
        position: relative;
        border-radius: 12px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
}

.icon {
    display: inline-flex;
    &.ic_gnb_logo_amore_96,
    &.ic_gnb_logo_amore_store_64 {
        height: 32px;
        background-size: 32px 32px;
    }
    
    &.ic_gnb_logo_amore_96 {
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/png/logo/logo_amoreMall_s96.png);
    }
    &.ic_gnb_logo_amore_store_64 {
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/png/logo/logo_amoreStore_s64.jpg);
    }
}
.atom-icon {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
    transition: transform .25s linear;

   &.logo_amoreStore_s165x28_fff {
        width: 165px;
        height: 28px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/logo/logo_amoreStore_s165x28_fff.svg) no-repeat 50%;
        background-size: contain;
   };
   &.ic_angle_down_circle_fill_s24 {
        width: 24px;
        height: 24px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/core/svg/ic/ic_angle_down_circle_fill_s24.svg) no-repeat 50%;
        background-size: contain;
   }
}
.swiper {
    &:hover {
        // .swiper-prev,
        // .swiper-next {
        //     display: block;
        // }

        .swiper-prev:not(.swiper-button-disabled),
        .swiper-next:not(.swiper-button-disabled){
            display: block;
        }
    }

    .imgBox {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .imgBox img {
        width: 100%;
        height: auto;
    }


    .atom-icon.ic_angle_flicking_right_s35 {
        width: 35px;
        height: 35px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/ic/ic_angle_flicking_right_s35.svg) no-repeat 50%;
        background-size: contain;
    }
    .atom-icon.ic_angle_flicking_left_s35 {
        width: 35px;
        height: 35px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/ic/ic_angle_flicking_left_s35.svg) no-repeat 50%;
        background-size: contain;
    }
}
.swiper-prev,
.swiper-next {
    cursor: pointer;
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.swiper-button-disabled {
        display: none;
    }

    &:after {
        display: none;
    }
}
.swiper-next {
    right: 0;
}
.swiper-pagination-horizontal.swiper-pagination {
    top: inherit;
    bottom: 25px;
    background-color: #fff;
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 1px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color : #222;
}
/* 전면 스와이프 스타일 - 끝 */

/* 룰 스타일 스타일 - 시작 */
h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    font-weight: 400;
    
}

//table
table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #333;
}
caption {
    height: 1px;
    overflow: hidden;
}

table th, table td {
    height: 40px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}
table th {
    padding: 3px 15px;
    text-align: center;
    font-weight: 400;
    word-break: keep-all;
    border-bottom: 1px solid #666;
    background-color: #f8f8f8;
}
table td {
    padding: 3px 15px;
    border: 1px solid #eee;
    border-bottom: 0;

    &:first-child {
    }
}
/* 룰 스타일 스타일 - 끝 */


/* header 스타일 스타일 - 시작 */
.module-header {
    top: 0;
    left: 0;
    position: sticky;
    background-color: #333545;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 640px;

    &.is-scroll {
        position: inherit
    }
}
.module-header:not(.shop-header) .module-header__logo-img.is-black {
    opacity: 0;
}
.module-header__inner {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 15px;
    width: 100%;
}
.module-header__logo {
    flex: 0 0 auto;
    position: relative;
    width: 158px;
    height: 32px;

    a {
        display: block;
        font-size: 0;
        width: 100%;
        height: 100%;
    }
}
.module-header__logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.module-linkPopup {
    width: 200px;
    padding: 12px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);

    li {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 20px;

        &:first-child {
            margin-top: 0;
        }

        &.is-active {
            .linkThumb {
                position: relative;
            }
            .linkThumb:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -3px;
                right: -3px;
                width: 10px;
                height: 10px;
                border: 1px solid #fff;
                border-radius: 5px;
                background-color: #ff5a5a;
            }
            .linkText {
                font-size: 16px;
                font-weight: 700;
                color: #000;
            }
        }
    }

    li button {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .linkThumb {
        border-radius: 10px;
        width: 32px;
        height: 32px;
        margin-right: 12px;
        background-color: #ddd;

        i {
            width: 100%;
            border-radius: 10px;
        }
    }

    
}
.module-header__logo-link {
    position: relative;
    margin-left: 6px;

    .module-linkPopup {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 2;
    }
    
    button {
        text-transform: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        color: inherit;
        background: transparent;
        overflow: visible;
        line-height: 1;
        display: inline-block;
    }

    &.is-active {
        .module-linkPopup {
            display: block;
        }
        button i {
            transform: rotate(180deg);
        }
    }
}
.module-header--default {
    position: relative;
    width: 100%;
    min-height: 70px;
    padding: 0 20px 19px;
}
.module-header__logo--default {
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a {
        color : #fff;
        text-decoration: none;
        vertical-align: baseline;
    }
}
.module-header__desc--default {
    color: #d3d3d3;
    font-size: 14px;
    line-height: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.module-header-layer {
    z-index: 1000;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    max-width: 640px;
    height: 56px;
    border-bottom: 1px solid #f0f0f0;

    &.is-clear {
        border-color: transparent;
    }
}
.module-header--ani {
    top: 0 !important;
    position: fixed;
    padding: 0 15px;
    background-color: #333545;

    &.is-hide {
        display: none;
    }
}
.module-header__title--ani {
    position: inherit;
    top: auto;
    left: auto;
    max-width: calc(100% - 80px);
    width: auto;
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-weight: 700;

}
.module-header__util {
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
}

.module-header__btn {
    overflow: hidden;
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 0;
    vertical-align: middle;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/ic/ic_user_s32_fff.svg);
    }
}
.module-header-layer.is-clear .module-header__btn--user:after {
    background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.54/public/resource/mall/svg/ic/ic_user_s32_fff.svg);
}


/* header 스타일 스타일 - 끝 */